#webscraping from reddit packages
praw
psaw
beautifulsoup4 # technically for wikipedia scraping

#front end packages
dash
flask
pymongo #also used to store data

#testing packages for TDD
mongomock
pytest

#data science stack
pandas
numpy
matplotlib
scipy